/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('https://images.pexels.com/photos/3244513/pexels-photo-3244513.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    height: 100vh;
}

.container {
    width: 80%;
    height: 40px;
    position: relative;
    top: 40px;
    margin: 0 auto;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

.navigation-wrapper {
    position: relative;
}

.navigation-button {
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 100px;
    background: transparent;
    cursor: pointer;
}

    .navigation-button .fa {
        border: 2px solid white;
        border-radius: 3px;
        padding: 10px;
        color: white;
    }
    .navigation-button .fa:hover {
        border: 4px solid white;
        border-radius: 3px;
        padding: 10px;
        color: white;
    }


.navigation-menu ul li {
    list-style: none;
    font-family: impact;
    font-weight: 300;
    color: hsl(0,0%,70%);
}

.navigation-menu {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    transform: skewX(0deg) translate(100%,0);
    transform-origin: top right;
    transition: all .2s ease-in;
    z-index: 1;
}

    .navigation-menu ul {
        transform: skewX(-8deg);
        transform-origin: top left;
        position: fixed;
        right: 120px;
        top: 120px;
        width: 400px;
        text-align: right;
    }

        .navigation-menu ul li {
            position: relative;
            z-index: 999;
            font-size: 32px;
            color: #fff;
            line-height: 64px;
        }

            .navigation-menu ul li a {
                border: none;
                color: #fff;
                text-decoration: none;
            }

    .navigation-menu.active {
        transform: skewX(8deg) translate(0,0);
    }

    .navigation-menu li {
        opacity: 0;
        transform: translate(0, 10px);
        transition: all .0s ease-in .3s;
    }

    .navigation-menu.active li {
        opacity: 1;
        transform: translate(0,0);
        transition: all .2s ease-in 0s;
    }

        .navigation-menu.active li:nth-child(1) {
            transition-delay: .3s;
        }

        .navigation-menu.active li:nth-child(2) {
            transition-delay: .4s;
        }

        .navigation-menu.active li:nth-child(3) {
            transition-delay: .5s;
        }

        .navigation-menu.active li:nth-child(4) {
            transition-delay: .6s;
        }

.hero h1 {
    margin-top: 178px;
    text-transform: uppercase;
    font-family: impact;
    font-size: 26px;
    letter-spacing: 4px;
    color: white;
}

span {
    font-size: 65px;
    letter-spacing: 2px;
    font-family: impact;
}

.button {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 12px;
    margin-top: 40px;
}

.btn1:hover {
    text-decoration: none;
    color: #fff;
    box-shadow: 2.5px 2.5px 5px hsl(0,0%,70%);
}

.btn2:hover {
    text-decoration: none;
    color: black;
    box-shadow: 2.5px 2.5px 5px hsl(0,0%,70%);
}



.btn1 {
    padding: 12px 23px;
    font-size: 12px;
    border-radius: 0;
    background: #1a701d;
    text-decoration: none;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.btn2 {
    padding: 12px 23px;
    font-size: 12px;
    background: #f4f6f8;
    text-decoration: none;
    color: #000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.imageButton:hover {
    height: 35px;
    width: 35px;
}
.btn-outline-light {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.menuText:hover{
    font-size:42px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
