@page
@model TintinsChatroom.UI.Pages.IndexModel
@{
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<TintinsChatroom.DTO.Models.ChatUserModel> SignInManager
<head>
    <meta charset="UTF-8">
    <title>slanted menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
    @{
        if (SignInManager.IsSignedIn(User))
        {
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-6">
                        <section class="hero">
                            <h1>Hello there! <br> <span> @User.Identity.Name</span></h1>
                        </section>
                    </div>
                    <div class="col-6">
                        <img src="https://cdn2.iconfinder.com/data/icons/entrepreneur-line-color-overweight-invest/512/Motivation-512.png" />
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-6">
                        <section class="hero">
                            <h1>Welcome to <br>  <span>TINTINS CHATROOMS</span></h1>
                        </section>
                    </div>
                    <div class="col-6">
                        <img src="https://cdn2.iconfinder.com/data/icons/entrepreneur-line-color-overweight-invest/512/Motivation-512.png" />

                    </div>
                </div>
            </div>
        }
    }
</body>
