@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home page";
}

<head>
    <meta charset="UTF-8">
    <title>slanted menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>

<body>
    @{
        if (SignInManager.IsSignedIn(User))
        {
            <section class="hero">
                <h1>Hello there! <br> <span> @User.Identity.Name</span></h1>
            </section>
        }
        else
        {
            <section class="hero">
                <h1>Welcome to <br> <span>TINTINS CHATROOMS</span></h1>
            </section>
        }
    }

</body>